## Connecting to SQL databases

In [1]:
import pandas as pd
import numpy as np

In [7]:
from sqlalchemy import create_engine

engine = create_engine("sqlite:///../python_cookbook/data/chinook.db")

In [9]:
tracks = pd.read_sql_table("tracks", engine)
tracks

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
...,...,...,...,...,...,...,...,...,...
3498,3499,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,343,2,24,None,286741,4718950,0.99
3499,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99
3500,3501,"L'orfeo, Act 3, Sinfonia (Orchestra)",345,2,24,Claudio Monteverdi,66639,1189062,0.99
3501,3502,"Quintet for Horn, Violin, 2 Violas, and Cello ...",346,2,24,Wolfgang Amadeus Mozart,221331,3665114,0.99
3502,3503,Koyaanisqatsi,347,2,10,Philip Glass,206005,3305164,0.99

In [10]:
(pd.read_sql_table("genres", engine)
    .merge(tracks[["GenreId", "Milliseconds"]], on="GenreId", how="left")
    .drop("GenreId", axis="columns")
)

           Name  Milliseconds
0          Rock        343719
1          Rock        342562
2          Rock        230619
3          Rock        252051
4          Rock        375418
...         ...           ...
3498  Classical        286741
3499  Classical        139200
3500  Classical         66639
3501  Classical        221331
3502      Opera        174813

[3503 rows x 2 columns]

In [26]:
(pd.read_sql_table("genres", engine)
    .merge(tracks[["GenreId", "Milliseconds"]], on="GenreId", how="left")
    .drop("GenreId", axis="columns")
    .groupby("Name")
    ["Milliseconds"]
    .mean()
    .pipe(lambda s_: pd.to_timedelta(s_, unit="ms"))
    .dt.floor("s")
    .sort_values()
    .reset_index()
)

                  Name    Milliseconds
0        Rock And Roll 0 days 00:02:14
1                Opera 0 days 00:02:54
2          Hip Hop/Rap 0 days 00:02:58
3       Easy Listening 0 days 00:03:09
4           Bossa Nova 0 days 00:03:39
5             R&B/Soul 0 days 00:03:40
6                World 0 days 00:03:44
7                  Pop 0 days 00:03:49
8                Latin 0 days 00:03:52
9   Alternative & Punk 0 days 00:03:54
10          Soundtrack 0 days 00:04:04
11              Reggae 0 days 00:04:07
12         Alternative 0 days 00:04:24
13               Blues 0 days 00:04:30
14                Rock 0 days 00:04:43
15                Jazz 0 days 00:04:51
16           Classical 0 days 00:04:53
17         Heavy Metal 0 days 00:04:57
18   Electronica/Dance 0 days 00:05:02
19               Metal 0 days 00:05:09
20              Comedy 0 days 00:26:25
21            TV Shows 0 days 00:35:45
22               Drama 0 days 00:42:55
23     Science Fiction 0 days 00:43:45
24    Sci Fi & Fantasy 0 days 00:48:31

In [21]:
cust = pd.read_sql_table("customers", engine, columns=["CustomerId", "FirstName", "LastName"])
invoice = pd.read_sql_table("invoices", engine, columns=["InvoiceId", "CustomerId"])
invoice_items = pd.read_sql_table("invoice_items", engine, columns=["InvoiceId", "UnitPrice", "Quantity"])

(cust
    .merge(invoice, on="CustomerId")
    .merge(invoice_items, on="InvoiceId")
)

      CustomerId FirstName    LastName  InvoiceId  UnitPrice  Quantity
0              1      LuÃ­s   GonÃ§alves         98       1.99         1
1              1      LuÃ­s   GonÃ§alves         98       1.99         1
2              1      LuÃ­s   GonÃ§alves        121       0.99         1
3              1      LuÃ­s   GonÃ§alves        121       0.99         1
4              1      LuÃ­s   GonÃ§alves        121       0.99         1
...          ...       ...         ...        ...        ...       ...
2235          59      Puja  Srivastava        284       0.99         1
2236          59      Puja  Srivastava        284       0.99         1
2237          59      Puja  Srivastava        284       0.99         1
2238          59      Puja  Srivastava        284       0.99         1
2239          59      Puja  Srivastava        284       0.99         1

[2240 rows x 6 columns]

In [30]:
(cust
    .merge(invoice, on="CustomerId")
    .merge(invoice_items, on="InvoiceId")
    .assign(Total=lambda df_: df_.Quantity * df_.UnitPrice)
    .groupby(["CustomerId", "FirstName", "LastName"])
    ["Total"]
    .sum()
    .sort_values(ascending=False)
    .reset_index()
)

    CustomerId  FirstName      LastName  Total
0            6     Helena          HolÃ½  49.62
1           26    Richard    Cunningham  47.62
2           57       Luis         Rojas  46.62
3           45   Ladislav        KovÃ¡cs  45.62
4           46       Hugh      O'Reilly  45.62
5           37       Fynn    Zimmermann  43.62
6           24      Frank       Ralston  43.62
7           28      Julia       Barnett  43.62
8           25     Victor       Stevens  42.62
9            7     Astrid        Gruber  42.62
10          44      Terhi    HÃ¤mÃ¤lÃ¤inen  41.62
11          43   Isabelle       Mercier  40.62
12           5  FrantiÅ¡ek   WichterlovÃ¡  40.62
13          48   Johannes  Van der Berg  40.62
14          20        Dan        Miller  39.62
15          42      Wyatt        Girard  39.62
16          34       JoÃ£o     Fernandes  39.62
17          22    Heather       Leacock  39.62
18           1       LuÃ­s     GonÃ§alves  39.62
19          17       Jack         Smith  39.62
20           3   FranÃ§ois      Tremblay  39.62
21           4      BjÃ¸rn        Hansen  39.62
22          39    Camille       Bernard  38.62
23          58      Manoj        Pareek  38.62
24          40  Dominique      Lefebvre  38.62
25          19        Tim         Goyer  38.62
26          15   Jennifer      Peterson  38.62
27          51     Joakim     Johansson  38.62
28          47      Lucas       Mancini  37.62
29          53       Phil        Hughes  37.62
30          49  StanisÅ‚aw        WÃ³jcik  37.62
31          55       Mark        Taylor  37.62
32          56      Diego     GutiÃ©rrez  37.62
33          52       Emma         Jones  37.62
34          41       Marc        Dubois  37.62
35          50    Enrique         MuÃ±oz  37.62
36          54      Steve        Murray  37.62
37          30     Edward       Francis  37.62
38          38     Niklas      SchrÃ¶der  37.62
39          18   Michelle        Brooks  37.62
40           8       Daan       Peeters  37.62
41           9       Kara       Nielsen  37.62
42          10    Eduardo       Martins  37.62
43          11  Alexandre         Rocha  37.62
44          12    Roberto       Almeida  37.62
45          13   Fernanda         Ramos  37.62
46          14       Mark       Philips  37.62
47          16      Frank        Harris  37.62
48          21      Kathy         Chase  37.62
49          36     Hannah     Schneider  37.62
50          23       John        Gordon  37.62
51          27    Patrick          Gray  37.62
52          29     Robert         Brown  37.62
53           2     Leonie        KÃ¶hler  37.62
54          31     Martha          Silk  37.62
55          32      Aaron      Mitchell  37.62
56          33      Ellie      Sullivan  37.62
57          35   Madalena       Sampaio  37.62
58          59       Puja    Srivastava  36.64

In [27]:
sql_string1 = """
SELECT
    Name,
    time(avg(Milliseconds) / 1000, 'unixepoch') as avg_time
FROM (
    SELECT
        g.Name, t.Milliseconds
    FROM
        genres as g
    JOIN
        tracks as t on g.genreid == t.genreid
        )
GROUP BY Name
ORDER BY avg_time"""

pd.read_sql_query(sql_string1, engine)

                  Name  avg_time
0        Rock And Roll  00:02:14
1                Opera  00:02:54
2          Hip Hop/Rap  00:02:58
3       Easy Listening  00:03:09
4           Bossa Nova  00:03:39
5             R&B/Soul  00:03:40
6                World  00:03:44
7                  Pop  00:03:49
8                Latin  00:03:52
9   Alternative & Punk  00:03:54
10          Soundtrack  00:04:04
11              Reggae  00:04:07
12         Alternative  00:04:24
13               Blues  00:04:30
14                Rock  00:04:43
15                Jazz  00:04:51
16           Classical  00:04:53
17         Heavy Metal  00:04:57
18   Electronica/Dance  00:05:02
19               Metal  00:05:09
20              Comedy  00:26:25
21            TV Shows  00:35:45
22               Drama  00:42:55
23     Science Fiction  00:43:45
24    Sci Fi & Fantasy  00:48:31

In [29]:
sql_string2 = """
SELECT
    c.customerId, c.FirstName, c.LastName, sum(ii.quantity * ii.unitprice) as Total
FROM
    customers as c
JOIN
    invoices as i
    on c.customerid = i.customerid
JOIN
    invoice_items as ii
    on i.invoiceid = ii.invoiceid
GROUP BY
    c.customerid, c.FirstName, c.LastName
ORDER BY
    Total desc"""

pd.read_sql_query(sql_string2, engine)

    CustomerId  FirstName      LastName  Total
0            6     Helena          HolÃ½  49.62
1           26    Richard    Cunningham  47.62
2           57       Luis         Rojas  46.62
3           45   Ladislav        KovÃ¡cs  45.62
4           46       Hugh      O'Reilly  45.62
5           37       Fynn    Zimmermann  43.62
6           24      Frank       Ralston  43.62
7           28      Julia       Barnett  43.62
8           25     Victor       Stevens  42.62
9            7     Astrid        Gruber  42.62
10          44      Terhi    HÃ¤mÃ¤lÃ¤inen  41.62
11           5  FrantiÅ¡ek   WichterlovÃ¡  40.62
12          43   Isabelle       Mercier  40.62
13          48   Johannes  Van der Berg  40.62
14          20        Dan        Miller  39.62
15          34       JoÃ£o     Fernandes  39.62
16           1       LuÃ­s     GonÃ§alves  39.62
17           3   FranÃ§ois      Tremblay  39.62
18           4      BjÃ¸rn        Hansen  39.62
19          17       Jack         Smith  39.62
20          22    Heather       Leacock  39.62
21          42      Wyatt        Girard  39.62
22          15   Jennifer      Peterson  38.62
23          19        Tim         Goyer  38.62
24          39    Camille       Bernard  38.62
25          40  Dominique      Lefebvre  38.62
26          51     Joakim     Johansson  38.62
27          58      Manoj        Pareek  38.62
28           2     Leonie        KÃ¶hler  37.62
29           8       Daan       Peeters  37.62
30           9       Kara       Nielsen  37.62
31          10    Eduardo       Martins  37.62
32          11  Alexandre         Rocha  37.62
33          12    Roberto       Almeida  37.62
34          13   Fernanda         Ramos  37.62
35          14       Mark       Philips  37.62
36          16      Frank        Harris  37.62
37          18   Michelle        Brooks  37.62
38          21      Kathy         Chase  37.62
39          23       John        Gordon  37.62
40          27    Patrick          Gray  37.62
41          29     Robert         Brown  37.62
42          30     Edward       Francis  37.62
43          31     Martha          Silk  37.62
44          32      Aaron      Mitchell  37.62
45          33      Ellie      Sullivan  37.62
46          35   Madalena       Sampaio  37.62
47          36     Hannah     Schneider  37.62
48          38     Niklas      SchrÃ¶der  37.62
49          41       Marc        Dubois  37.62
50          47      Lucas       Mancini  37.62
51          49  StanisÅ‚aw        WÃ³jcik  37.62
52          50    Enrique         MuÃ±oz  37.62
53          52       Emma         Jones  37.62
54          53       Phil        Hughes  37.62
55          54      Steve        Murray  37.62
56          55       Mark        Taylor  37.62
57          56      Diego     GutiÃ©rrez  37.62
58          59       Puja    Srivastava  36.64