## Tidying when two or move values are stored in the same cell

In [3]:
import pandas as pd
import numpy as np

In [4]:
cities = pd.read_csv("../python_cookbook/data/texas_cities.csv")
cities

      City             Geolocation
0  Houston  29.7604° N, 95.3698° W
1   Dallas  32.7767° N, 96.7970° W
2   Austin  30.2672° N, 97.7431° W

In [10]:
geolocations = cities.Geolocation.str.split(pat=". ", expand=True)
geolocations.columns = ["latitude", "latitude direction",
                        "longitude", "longitude direction"]

In [11]:
geolocations = geolocations.astype({"latitude": "float", "longitude": "float"})
geolocations.dtypes

latitude               float64
latitude direction      object
longitude              float64
longitude direction     object
dtype: object

In [12]:
(geolocations
    .assign(city=cities.City)
)

   latitude latitude direction  longitude longitude direction     city
0   29.7604                  N    95.3698                   W  Houston
1   32.7767                  N    96.7970                   W   Dallas
2   30.2672                  N    97.7431                   W   Austin

In [14]:
geolocations.apply(pd.to_numeric, errors="ignore")

   latitude latitude direction  longitude longitude direction
0   29.7604                  N    95.3698                   W
1   32.7767                  N    96.7970                   W
2   30.2672                  N    97.7431                   W

In [17]:
cities.Geolocation.str.split(pat=r'° |, ', expand=True)

         0  1        2  3
0  29.7604  N  95.3698  W
1  32.7767  N  96.7970  W
2  30.2672  N  97.7431  W

In [24]:
cities.Geolocation.str.extract(r'([0-9.]+). (N|S), ([0-9.]+). (E|W)', expand=True)

         0  1        2  3
0  29.7604  N  95.3698  W
1  32.7767  N  96.7970  W
2  30.2672  N  97.7431  W