## Understanding the difference between Python and pandas date tools

In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
date = datetime.date(year=2013, month=6, day=7)
date

datetime.date(2013, 6, 7)

In [3]:
time = datetime.time(hour=12, minute=30, second=19, microsecond=630)
time

datetime.time(12, 30, 19, 630)

In [4]:
dt = datetime.datetime(year=2013, month=6, day=7, hour=12, minute=30, second=19)
dt

datetime.datetime(2013, 6, 7, 12, 30, 19)

In [8]:
td = datetime.timedelta(weeks=2, days=5, hours=10, minutes=20, seconds=6.73, milliseconds=99)
td

datetime.timedelta(days=19, seconds=37206, microseconds=829000)

In [9]:
print(f"new date is {date + td}")

new date is 2013-06-26

In [11]:
print(f"new date is {dt + td}")

new date is 2013-06-26 22:50:25.829000

In [15]:
pd.Timestamp(year=2012, month=12, day=21, hour=5, minute=10, second=8, microsecond=99)

Timestamp('2012-12-21 05:10:08.000099')

In [16]:
pd.Timestamp("2016/1/10")

Timestamp('2016-01-10 00:00:00')

In [17]:
pd.Timestamp("2014-5/10")

Timestamp('2014-05-10 00:00:00')

In [18]:
pd.Timestamp("Jan 3, 2019 20:45:56")

Timestamp('2019-01-03 20:45:56')

In [22]:
pd.Timestamp("2016-01-05T05:34:43.123456")

Timestamp('2016-01-05 05:34:43.123456')

In [23]:
pd.Timestamp(500)

Timestamp('1970-01-01 00:00:00.000000500')

In [24]:
pd.Timestamp(5000, unit="D")

Timestamp('1983-09-10 00:00:00')

In [25]:
pd.to_datetime("2015-5-13")

Timestamp('2015-05-13 00:00:00')

In [27]:
pd.to_datetime("5-13-2015", dayfirst=True)

Timestamp('2015-05-13 00:00:00')

In [30]:
pd.to_datetime("Start Date: Sep 30, 2017 Start Time: 1:30 pm",
               format="Start Date: %b %d, %Y Start Time: %I:%M %p")

Timestamp('2017-09-30 13:30:00')

In [31]:
pd.to_datetime(100, unit="D", origin="2013-1-1")

Timestamp('2013-04-11 00:00:00')

In [32]:
s = pd.Series([10, 100, 1000])
pd.to_datetime(s, unit="D")

0   1970-01-11
1   1970-04-11
2   1972-09-27
dtype: datetime64[ns]

In [34]:
s = pd.Series(["12-5-2015", "14-1-2013", "20/12/2017", "40/23/2017"])
pd.to_datetime(s, dayfirst=True, errors="coerce")

0   2015-05-12
1   2013-01-14
2   2017-12-20
3          NaT
dtype: datetime64[ns]

In [35]:
pd.to_datetime(["Aug 3 1999 3:45:56", "10/31/2017"])

DatetimeIndex(['1999-08-03 03:45:56', '2017-10-31 00:00:00'], dtype='datetime64[ns]', freq=None)

In [36]:
pd.Timedelta("12 days 5 hours 3 minutes 123456 nanoseconds")

Timedelta('12 days 05:03:00.000123456')

In [37]:
pd.Timedelta(days=5, minutes=7.34)

Timedelta('5 days 00:07:20.400000')

In [38]:
pd.Timedelta(100, unit="W")

Timedelta('700 days 00:00:00')

In [39]:
pd.to_timedelta("67:15:45.454")

Timedelta('2 days 19:15:45.454000')

In [40]:
s = pd.Series([10, 100])
pd.to_timedelta(s, unit="s")

0   0 days 00:00:10
1   0 days 00:01:40
dtype: timedelta64[ns]

In [41]:
time_strings = ["2 days 24 minutes 89.67 seconds", "00:45:23.6"]
pd.to_timedelta(time_strings)

TimedeltaIndex(['2 days 00:25:29.670000', '0 days 00:45:23.600000'], dtype='timedelta64[ns]', freq=None)

In [43]:
pd.Timedelta("12 days 5 hours 3 minutes") * 2

Timedelta('24 days 10:06:00')

In [45]:
(pd.Timestamp("1/1/2017") + pd.Timedelta("12 days 5 hours 3 minutes") * 2)

Timestamp('2017-01-25 10:06:00')

In [47]:
td1 = pd.to_timedelta([10, 100], unit="s")
td1

TimedeltaIndex(['0 days 00:00:10', '0 days 00:01:40'], dtype='timedelta64[ns]', freq=None)

In [49]:
td2 = pd.to_timedelta(["3 hours", "4 hours"])
td2

TimedeltaIndex(['0 days 03:00:00', '0 days 04:00:00'], dtype='timedelta64[ns]', freq=None)

In [50]:
td1 + td2

TimedeltaIndex(['0 days 03:00:10', '0 days 04:01:40'], dtype='timedelta64[ns]', freq=None)

In [52]:
pd.Timedelta("12 days") / pd.Timedelta("3 days")

4.0

In [54]:
ts = pd.Timestamp("2016-10-1 4:23:23.9")
ts.ceil("h")

Timestamp('2016-10-01 05:00:00')

In [55]:
ts.floor("h")

Timestamp('2016-10-01 04:00:00')

In [56]:
ts.year, ts.month, ts.day, ts.hour, ts.minute, ts.second

(2016, 10, 1, 4, 23, 23)

In [59]:
ts.dayofweek, ts.dayofyear, ts.daysinmonth

(5, 275, 31)

In [60]:
ts.to_pydatetime()

datetime.datetime(2016, 10, 1, 4, 23, 23, 900000)

In [63]:
td = pd.Timedelta(125.8723, unit="h")
td

Timedelta('5 days 05:52:20.280000')

In [72]:
td.round("min")

Timedelta('5 days 05:52:00')

In [73]:
td.components

Components(days=5, hours=5, minutes=52, seconds=20, milliseconds=280, microseconds=0, nanoseconds=0)

In [74]:
td.total_seconds()

453140.28